.hide{
	display : none;
}
.container, .container-fluid{
	border:0px black solid;
	color : white;
}
.row div{
	background-color: @gray-dark;
	border:0px orange solid;
}
divd {
	border:0px orange solid;
}
.bulle {
	background-color : #010;
	border-radius : 6px;
	margin-top : 10px;
	margin-bottom : 10px;
	padding : 3px;
}
.menu_bande{
	background-color : #100;
}
.menu_bande img{
	max-width: 100%;
	height: auto;
}
.btn{
	margin-top : 5px;
}
.question{
	margin-bottom : 10px;
}